@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* 커스텀 CSS */
/* 스크롤바 숨기기 */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE와 Edge */
    scrollbar-width: none; /* Firefox */
  }

  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }